<div class="col-md-12">

    <p>Nasz cel był od początku jeden: stworzyć miejsce z klimatem i pasją, gdzie Klient może oderwać się od codzienności. Wstępując w progi restauracji uderza nas nowoczesny i elegancki wystrój wnętrza. Serwowane u nas prawdziwe dania, rozpalają zmysły i zachęcają do podroży po raju kulinarnych rozkoszy. Sezonowy ogródek, oświetlony blaskiem świec, stanowi idealne miejsce na romantyczną kolację.
    </p>
    <p>Każdego dnia Nasi Kucharze polecają inne Danie Dnia w doskonałej cenie.
    </p>
    <p>W naszym menu znajdziesz także pizze, którą podamy Państwu na cienkim cieście w stylu włoskim pod każdą postacią. Doskonałą oprawą dla tak przygotowanych posiłków jest niewątpliwie dobre wino i atmosfera naszej Restauracji.
    </p>
    <p>Organizujemy różnego rodzaju imprezy okolicznościowe. Podchodzimy do każdego przyjęcia indywidualnie. Unikamy standardowych ofert przywiązując jednocześnie ogromną wagę do poznania potrzeb i oczekiwań naszych klientów.</p>
</div>
