<div class="row">
    <div class="col-md-12">
        <h2>SIEMA!</h2>
        <p>poniżej Twoje zamówienie</p>

        <table class="table table-hover table-responsive">
            <thead>
                <tr>
                    <th>
                        POTRAWA
                    </th>
                    <th>
                        NAZWA
                    </th>
                    <th>
                        ILOŚĆ
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="product in order">
                    <td class="col-md-4">
                        <img ng-src="{{product.thumbnailUrl}}" class="img-thumbnail" alt="" />
                    </td>
                    <td class="col-md-6">
                        {{product.name}}
                    </td>
                    <td class="col-md-1">
                        {{product.count}}
                    </td>
                    <td class="col-md-1">
                        <button  class="btn" ng-click="removeElement(product._id)">usuń</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
