<div class="row">
    <div class="col-md-12">
        <h1>{{pageTitle}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form ng-submit="submit()">
            <div class="form-group">
                <label for="date">Data</label>
                <input class="form-control" ng-model="date" type="date" name="date" required="required">
            </div>
            <div class="form-group">
                <label for="time">Godzina</label>
                <input class="form-control" ng-model="time" type="time" name="time" required="required">
            </div>
            <div ng-if="date && time">
                <div class="form-group">
                    <label for="firstname">Imię</label>
                    <input class="form-control" ng-model="firstname" type="text" name="firstname" required="required">
                </div>
                <div class="form-group">
                    <label for="surname">Nazwisko</label>
                    <input class="form-control" ng-model="surname" type="text" name="surname" required="required">
                </div>
                <div class="form-group">
                    <label for="phone">Nr telefonu</label>
                    <input class="form-control" ng-model="phone" type="text" name="phone" required="required">
                </div>
                <div class="form-group">
                    <label for="table">Stolik</label>
                    <select ng-model="table" class="form-control" name="table" required="required">
                        <option ng-repeat="table in tables" ng-value="{{table.id}}">{{table.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="accept">Akceptuje warunki regulaminu</label>
                    <input class="form-control" ng-model="accept" type="checkbox" name="accept" required="required">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default" name="button" ng-disabled="disableSubmit">send</button>
                </div>
        </div>
        </form>
    </div>
</div>


<!-- <ng-include src="'views/home/slider.html'"></ng-include> -->
